.imageLanding{
    width: 300px;
    padding-top: 30px;
}

.btn{
    color: white;
    background-color: orange;
    outline: none;
    margin: 2px;
}

button{
    outline: none;
    padding: 10px;
    border-radius: 5%;
    border: none;
}

.padding{
    padding: 30px;
}